wp-*.php
wp-admin/
wp-includes/
readme.html
xmlrpc.php
license.txt
.htaccess
/index.php

node_modules/

wp-content/debug.log

wp-content/plugins/
wp-content/uploads/
wp-content/updraft/
wp-content/upgrade/
wp-content/cache/
wp-content/wflogs/
wp-content/index.php

wp-content/themes/index.php
wp-content/themes/twenty*

wp-content/ai1wm-*/

wp-config\.php
_wpeprivate
wp-content\/uploads
wp-content\/blogs\.dir
wp-content\/upgrade
wp-content\/object-cache\.php
wp-content\/mysql\.sql
wp-content\/mu-plugins\/mu-plugin\.php
wp-content\/mu-plugins\/slt-force-strong-passwords\.php
wp-content\/mu-plugins\/wpengine-common
wp-content\/mu-plugins\/limit-login-attempts
\.hqx$
\.bin$
\.exe$
\.dll$
\.deb$
\.dmg$
\.iso$
\.img$
\.msi$
\.msp$
\.msm$
\.mid$
\.midi$
\.kar$
\.mp3$
\.ogg$
\.m4a$
\.ra$
\.3gpp$
\.3gp$
\.mp4$
\.mpeg$
\.mpg$
\.mov$
\.webm$
\.flv$
\.m4v$
\.mng$
\.asx$
\.asf$
\.wmv$
\.avi$