/*! purgecss start ignore */
.jobs {
	&-overlay {
		@apply fixed w-full h-full max-h-full inset-0 bg-white invisible opacity-0 transition-opacity duration-200 py-20 overflow-scroll hidden;
		z-index: 999;

		&.active {
			@apply opacity-100 visible block;
		}
	}

	&-modal {

		&-top {
			@apply mb-12
		}

		&-inner {
			@apply mx-auto;
			width: 70%;
		}

		&-content {

			h1,h2,h3 {
				@apply mb-8 font-museo-900 text-blue-dark;
			}

			h1 {
				@apply text-20;
			}

			h2, h3 {
				@apply text-18;
			}

			ul {
				@apply list-disc pl-8;
			}

			p, ul li {
				@apply mb-4 font-museo-500 text-default;
			}
		}

		&-title {

			h2 {
				@apply text-blue-dark font-museo-900;
			}
		}

		&-location {
			width: 58%;

			p {
				@apply text-default font-museo-500;
			}
			
		}
	}

	&-item {
		@apply flex py-4 px-2 border-b border-grey-100;

		@screen lg {
			@apply px-8 py-4;
		}

		p {
			@apply m-0 font-museo-500 text-12 text-default;

			@screen lg {
				@apply text-14;
			}
		}

		.jobs {

			&-title, &-location {
				width: 45%;
			}

			&-apply {
				width: 10%;

				a {
					@apply m-0 font-museo-500 text-blue-dark text-right text-12;

					@screen lg {
						@apply text-14;

					}
				}
			}
		}
	}

	&-wrapper {
		padding: 0 5px 40px;

		@screen lg {
			padding: 0 10px 40px;
		}
	}
}

.careers {

	&-header {
		padding: 40px 0;
	}

	&-top {

		&-header {
			@apply text-center pb-12;

			h3 {
				@apply text-20 font-museo-900 mb-12 text-blue-light uppercase;

				@screen lg {
					@apply text-30;

				}
			}

			p {
				@apply text-18 font-museo-500;

				@screen lg {
					@apply text-20;
				}
			}
		}
	}
}

.department {

	&-header {
		background-color: #f0f4f5;
		padding: 10px 0;
		text-align: center;

		@screen lg {
			padding: 20px 0;
		}

		h3 {
			@apply text-16 font-museo-900 uppercase text-blue-dark;

			@screen lg {
				@apply text-20;

			}
		}
	}

	&-list {

		&.hidden {
			display: none;
		}
	}
}

.filter {

	&-by {

		&-department {

			&-row {
				padding: 0 10px 20px;
			}

			&-select {
				@apply bg-white border border-grey-light rounded w-3/4 text-default text-18 font-museo-500;
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				padding: 1.15rem 2rem 1.15rem 1rem;

				@screen lg {
					width: 35%;
				}

				@screen xl {
					width: 30%;
				}

				&:after {
					@apply block absolute w-4 bg-no-repeat;
					right: 1rem;
					top: 2px;
					content: "\e603";
					pointer-events: none;
					height: calc(100% - 4px);
					background-size: 1rem 1rem;
					background-position-y: center;
				}
			}
		}
	}
}

.overlay {

	&-wrapper {
		padding: 40px 10px;

		@screen lg {
			padding: 40px 0;
		}

	}
}

.noscroll {
	overflow: hidden;
}
/*! purgecss end ignore */
