.contents {

	&-item {

		&.active {
			@apply text-black;
		}
	}
}

.masterclass {

	&-sidebar {
	    will-change: min-height;

/*	    &.is-affixed {
	    	@apply absolute
	    }*/

	    &-inner {
	    	transform: translate(0, 0); /* For browsers don't support translate3d. */
		    transform: translate3d(0, 0, 0);
		    will-change: position, transform;
	    }
	}
}

.bio {

	&-wrapper {

		&.active {
			@apply h-full;
		}
	}
}