body {
    @apply font-museo-300 not-italic leading-normal text-16 text-default leading-normal h-full antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
	@apply font-museo-500 text-36;
}

h2 {
	@apply text-29 font-museo-500;
}



.section {
	@apply py-12;

	@screen md {
		@apply py-20;
	}

	&-half {
		@apply py-6;

		@screen md {
			@apply py-10;
		}		
	}
}




.block {

	&-link {

		a {
			transition: color .2s ease-in-out;
		}

		&:hover {

			a {
				@apply text-red-dark;
			}
		}
	}
}

.lazyload {
	@apply block border-0 opacity-0;

	&:not(.initial) {
		transition: opacity 1s;
	}
	&.initial,
	&.loaded,
	&.error {
		@apply opacity-100;
	}
	&:not([src]) {
		@apply visible;
	}
}

.link {
    @apply relative inline-block pb-1;

    &.active,
    &:hover {
    
        &:before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
    
    &:before {
        content: "";
        @apply absolute w-full bottom-0 left-0 bg-black;
        height: 2px;
        visibility: hidden;
        transform: scaleX(0);
        transform-origin: 0;
        transition: all 0.2s ease-in-out;
    }
    
    &-white {
    
        &:before {
            @apply bg-white;
        }
    }
}