body {
    @apply font-museo-300 not-italic leading-normal text-16 text-default leading-normal h-full antialiased;
}

h1 {
	@apply font-museo-500 text-29;

	@screen md {
		@apply text-36;
	}
}

h2 {
	@apply text-29 font-museo-500;
}



.section {
	@apply py-12;

	@screen md {
		@apply py-20;
	}

	&-half {
		@apply py-6;

		@screen md {
			@apply py-10;
		}		
	}
}

.max {

	&-lines {
		@apply overflow-hidden;
		display: box;
		display: -moz-box;
		display: -webkit-box;
		-webkit-box-orient: vertical;

		&-2 {
			-webkit-line-clamp: 2;
		}

		&-3 {
			-webkit-line-clamp: 3;
		}
	}
}


.block {

	&-link {

		a {
			transition: color .2s ease-in-out;
		}

		&:hover {

			a {
				@apply text-red-dark;
			}
		}
	}
}

.lazyload {
	@apply block border-0 opacity-0;

	&:not(.initial) {
		transition: opacity 1s;
	}
	&.initial,
	&.loaded,
	&.error {
		@apply opacity-100;
	}
	&:not([src]) {
		@apply visible;
	}
}

.thumbnail {

	&-ratio {
		padding-bottom: 65.25%;
	}
}

.link {

	&-underline {


	    @apply relative inline-block pb-1;

	    &.active,
	    &:hover {
	    
	        &:before {
	            visibility: visible;
	            transform: scaleX(1);
	        }
	    }
	    
	    &:before {
	        content: "";
	        @apply absolute w-full bottom-0 left-0 bg-black;
	        height: 2px;
	        visibility: hidden;
	        transform: scaleX(0);
	        transform-origin: 0;
	        transition: all 0.2s ease-in-out;
	    }
	    
	    &-white {
	    
	        &:before {
	            @apply bg-white;
	        }
	    }
	}
}

.svg {

	svg {
		@apply w-full;
	}
}

.fpp {

	&-col {

		h3 {
			@apply font-museo-700 text-grey-700;
		}

		p,h3, ul li {
			@apply mb-4;
		}

		ul {
			@apply pl-8;

			li {

				&:last-child {
					@apply mb-0;
				}
			}
		}
	}
}

.oqp {

	&-section {

		h3 {
			@apply text-29 mb-2;
		}

		ul {
			@apply pl-6;
			list-style-image: url('./../images/icons/bullet-point-white.svg');

			li {
				@apply mb-2;

				&:last-child {
					@apply mb-0;
				}
			}
		}
	}
}

.box {

	&-check {

		ul {
			@apply pl-6;

			li {
				@apply mb-2 font-museo-500;

				&:last-child {
					@apply mb-0;
				}
			}
		}

		&-dark {

			ul {
				list-style-image: url('./../images/icons/finish-design-considerations.svg');
			}
		}

		&-white {

			ul {
				list-style-image: url('./../images/icons/materials-hero-bullet.svg');
			}
		}
	}
}