/*! purgecss start ignore */
.mktoForm {
	@apply w-full p-0 text-grey-600 font-museo-300 text-12 leading-tight !important;

    @screen md {
        @apply p-4;
    }

    &.form {

        &-underline {
        
            .mktoFormRow {
        
                .mktoFieldDescriptor, .mktoFormCol {

                    .mktoFieldWrap {


                        .mktoField {
                            @apply border-t-0 border-l-0 border-r-0 rounded-none shadow-none border-b border-grey-200 px-0 py-1 h-8 !important;
                        }
                    }
                }
            }
        }
    }

	.mktoFormRow {
		@apply w-full flex -mx-1;

        .mktoClear {
            @apply hidden;
        }

		.mktoFieldDescriptor, .mktoFormCol {
			@apply w-full float-none relative px-2 mb-0 min-h-0 !important;

            .mktoOffset {
                @apply hidden;
            }



			.mktoFieldWrap {
				@apply w-full p-0 float-none inline-block !important;

                .mktoGutter {
                    @apply hidden;
                }

                &.mktoRequiredField {

                    .mktoLabel {

                        .mktoAsterix {
                            @apply hidden;
                        }
                    }
                }

                .mktoLogicalField {
                    @apply w-8 !important;
                }

                .mktoHtmlText {
                  @apply font-museo-300 text-grey-400 w-full py-2 px-0;
                }

				label {

                    &.mktoLabel {
    					@apply hidden;

                        &:not([for="Email_Opt_in_Consent__c"]),
                        &:not([for="subscriptionFictivHardwareRoundup"]) {
                            @apply hidden;
                        }

                        &[for="Email_Opt_in_Consent__c"],
                        &[for="subscriptionFictivHardwareRoundup"] {
                            @apply float-none inline-block pt-0 font-museo-300 text-12 text-grey-400 mb-2;
                            width: 235px !important;

                            @screen md {
                                width: 449px !important;
                            }

                            @screen lg {
                                width: 320px !important;
                            }

                            @screen xl {
                                width: 392px !important;
                            }
                        }
                    }
				}

                textarea {

                    &.mktoField {
                        @apply h-16 !important;
                    }
                }

				.mktoField {
					@apply w-full inline-block h-8 bg-white p-1 outline-none rounded border border-grey-200 text-grey-600 text-12 !important;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

                    &:focus {
                        @apply text-blue-light;
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
                    }

                    &#Email_Opt_in_Consent__c,
                    &#subscriptionFictivHardwareRoundup {
                        @apply float-left border-none shadow-none h-4 w-4 !important;
                        /*height: 21px !important;*/

                    }
				}

                .mktoRadioList {
                    @apply flex flex-wrap w-full !important;

                    .mktoField {
                        @apply h-4 w-4 mr-2 mb-2 !important;
                    }

                    label {
                        @apply ml-0 mr-4 text-default font-museo-500;
                    }
                }
			}

			.mktoOffset {
				@apply hidden !important;
			}
		}
	}

	.mktoButtonRow {
		@apply w-full py-0 px-1 my-0 !important;

		.mktoButtonWrap {
			@apply w-full ml-0 !important;

			.mktoButton {
				@apply bg-teal-light py-2 px-6 w-full text-center rounded-none border-0 uppercase font-museo-900 transition-colors duration-200 ease-in-out text-14 !important;
				background-image: none !important;

				&:hover {
					@apply bg-teal-light text-white !important;
				}
			}
		}
	}

	
}


/*.mktoForm .mktoFormRow .mktoFieldDescriptor .mktoFieldWrap .mktoField#Email_Opt_in_Consent__c,
.mktoForm .mktoFormRow .mktoFieldDescriptor .mktoFieldWrap .mktoField#subscriptionFictivHardwareRoundup {
    height: 21px;
    float: left;
    border: none;
    box-shadow: none;
}
*/

.navbar-2.no-scroll {
    background-color: #fff;
    position: relative;
}

/*@media only screen and (min-width: 320px) {
    .mktoForm .mktoFormRow .mktoFieldDescriptor .mktoFieldWrap label.mktoLabel[for="Email_Opt_in_Consent__c"] {
        width: 279px !important;
    }
}

@media only screen and ( max-width: 480px ) {

    .mktoForm .mktoCheckboxList {
        width: 30px !important;
    }
}

@media only screen and (min-width: 568px) {
    .mktoForm .mktoFormRow .mktoFieldDescriptor .mktoFieldWrap label.mktoLabel[for="Email_Opt_in_Consent__c"] {
        width: 429px !important;
    }
}

@media only screen and (min-width: 667px) {
    .mktoForm .mktoFormRow .mktoFieldDescriptor .mktoFieldWrap label.mktoLabel[for="Email_Opt_in_Consent__c"] {
        width: 548px !important;
    }
}

@media only screen and (min-width: 1024px) {
    .mktoForm .mktoFormRow .mktoFieldDescriptor .mktoFieldWrap label.mktoLabel[for="Email_Opt_in_Consent__c"] {
        width: 386px !important;
    }
}*/
/*! purgecss end ignore */