.top {

	&-nav {

		.menu {

			&-item {
				
				a {
					@apply relative inline-block pb-1;

				    &:hover {
				    
				        &:before {
				            visibility: visible;
				            transform: scaleX(1);
				        }
				    }

				    &:before {
				        content: "";
				        @apply absolute w-full bottom-0 left-0 bg-black;
				        height: 2px;
				        visibility: hidden;
				        transform: scaleX(0);
				        transform-origin: 0;
				        transition: all 0.2s ease-in-out;
				    }
				}

				&.current {

					&_page {

						&_item {

							a {
						        @apply text-red-dark;
							}
						}
					}

					&-menu {

						&-item {

							a {
								@apply text-red-dark;
							}
						}

						&-ancestor,
						&-parent {

							a {

								&:before {
						            visibility: visible;
						            transform: scaleX(1);
						        }
							}
						}
					}
				}
			    

				&-has {

					&-children {
						@apply relative;

						.sub {

							&-menu {
								@apply hidden absolute bg-white shadow-lg rounded-lg py-2 px-4 font-museo-500;
								min-width: 220px;

								.menu {

									&-item {

										a {
											@apply relative inline-block py-2;

										    &:hover {
										    	@apply text-red-dark;
								
										    }

										    &:before {
												content: none;
											}
										}

										&.current {

											&_page {

												&_item {

													a {
														@apply text-red-dark;
														
													}
												}
											}

											&-menu {

												&-item {

													a {
														@apply text-red-dark;
													}
												}
											}
										}
									}
								}
							}
						}

						&:hover {

							.sub {

								&-menu {
									@apply block;
								}
							}
						}
					}
				}
			}
		}
	}
}


.mobile {


    &-toggle {

        &::before,
        &::after,
        .nav-bar {
            @apply absolute bg-grey-200 w-4 mx-auto transition duration-200 ease-in-out;
       		height: 2px;
       		left: 11px;
        }

        &::before {
            top: 8px;
            content: "";
            transform-origin: 2px 0;
        }

        &::after {
            bottom: 8px;
            content: "";
            transform-origin: 1px 3px;
        }

        .nav-bar {
            top: 14px;
            transform-origin: 0 50%;
        }

        &.open {

        	&::before,
        	&::after {
        		/*transform: rotate(45deg) ;*/
        	}

            &::before {
                /*top: 12px;*/
                transform: rotate(45deg) scaleX( 1.4 );
            }

            &::after {
                transform: rotate(-45deg) scaleX( 1.4 );
            }

            .nav-bar {
                @apply opacity-0;
                transform: scaleX(0);
            }
        }    
    }
}