/*! purgecss start ignore */

/*.tolerance {

	&-toggle {

		&-btn {
			@apply border-grey-light;

			&.active  {
				@apply bg-yellow-dark border-yellow-dark text-white;

        &:hover {
          @apply text-white;
        }
			}
      &:hover {
        @apply border-yellow-dark text-yellow-dark;
      }
		}
	}
}*/

/*.select-box .options-container {
  transition: .2s max-height ease-in-out;
  max-height: 0;
}
.select-box .selected::after {
  content: "";
  background-image: url('./../../assets/images/icons/download.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 12px;
  top: 15px;
  right: 10px;
}

.select-box.active .selected::after {
  background-image: url('./../../assets/images/icons/download.svg');
}



.select-box.active .options-container {
  max-height: 400px;
  opacity: 1;
  overflow-y:scroll;
}

.select-box .tolerance-option.active {
  @apply text-red-dark;
}

.select-box .options-container.active {
  max-height: 400px;
  opacity: 1;
  overflow-y:scroll;
}*/

/*! purgecss end ignore */